<?xml version="1.0"?>



<robot name="The_IAS_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find ias0220_250620)/urdf/dif_rob_macros.xacro"/>


    <material name="red">
        <color rgba="0.9 0.1 0.1 1.0"/>
    </material>

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="blue">
        <color rgba="0.1 0.1 0.9 1.0"/>
    </material>

    <material name = "white">
        <color rgba="1 1 1 1.0"/>
    </material>




    <link name="base_footprint"/>

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${BASE_RADIUS}" length="${BASE_HEIGHT}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${BASE_RADIUS}" length="${BASE_HEIGHT}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${BASE_MASS}"/>
            <inertia ixx="${BASE_XX_YY_INERTIA}" ixy="0.0" ixz="0.0" iyy="${BASE_XX_YY_INERTIA}" iyz="0.0" izz="${BASE_ZZ_INERTIA}"/>
        </inertial>
    </link>

    <link name="head_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE}"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${HEAD_MASS}"/>
            <inertia ixx="${HEAD_XX_YY_ZZ_INERTIA}" ixy="0.0" ixz="0.0" iyy="${HEAD_XX_YY_ZZ_INERTIA}" iyz="0.0" izz="${HEAD_XX_YY_ZZ_INERTIA}"/>
        </inertial>
    </link>

    <link name="passive_wheel_holder_link">
        <visual>
            <geometry>
                <box size="${SUPPORT_WIDTH} ${SUPPORT_WIDTH} ${WHEEL_HOLDER_HEIGHT}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <box size="${SUPPORT_WIDTH} ${SUPPORT_WIDTH} ${WHEEL_HOLDER_HEIGHT}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${WHEEL_HOLDER_MASS}"/>
            <inertia ixx="${WHEEL_HOLDER_XX_INERTIA}" ixy="0.0" ixz="0.0" iyy="${WHEEL_HOLDER_YY_INERTIA}" iyz="0.0" izz="${WHEEL_HOLDER_ZZ_INERTIA}"/>
        </inertial>
    </link>

    <link name="passive_wheel_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="${SUPPORT_WIDTH/2}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="${SUPPORT_WIDTH/2}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${PASSIVE_WHEEL_MASS}"/>
            <inertia ixx="${PASSIVE_WHEEL_XX_YY_ZZ_INERTIA}" ixy="0.0" ixz="0.0" iyy="${PASSIVE_WHEEL_XX_YY_ZZ_INERTIA}" iyz="0.0" izz="${PASSIVE_WHEEL_XX_YY_ZZ_INERTIA}"/>
        </inertial>
    </link>

    

    <xacro:wheel_link prefix = "left"/>
    <xacro:wheel_link prefix = "right"/>

    <xacro:rotation_marker_link prefix = "right"/>
    <xacro:rotation_marker_link prefix = "left"/>




    <xacro:wheel_joint prefix = "right" direction = "1"/>
    <xacro:wheel_joint prefix = "left" direction = "-1"/>

    <xacro:wheel_to_rotation_marker prefix = "right" side = "-1"/>
    <xacro:wheel_to_rotation_marker prefix = "left" side = "1"/>

    <joint name="passive_wheel_holder_to_wheel" type="fixed">
        <origin xyz="0.0 0.0 ${-WHEEL_HOLDER_HEIGHT/2}" rpy="0.0 0.0 0.0"/>
        <parent link="passive_wheel_holder_link"/>
        <child link="passive_wheel_link"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>

    <joint name="head_to_support_base" type="fixed">
        <!-- xyz wrong since the distance is from the center of the head
             to the center of the support base -->
        <origin xyz="0.0 0.0 ${-(BASE_HEIGHT + HEAD_SIDE_SIZE/2 + WHEEL_HOLDER_HEIGHT/2)}"/> 
        <parent link="head_link"/>
        <child link="passive_wheel_holder_link"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>

    <joint name="base_link_to_head" type="fixed">
        <origin xyz="${BASE_RADIUS - HEAD_SIDE_SIZE/2} 0.0 ${BASE_HEIGHT/2 + HEAD_SIDE_SIZE/2}"/>
        <parent link="base_link"/>
        <child link="head_link"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>

    <joint name="base_link_to_footprint" type="fixed">
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>
</robot>